hr { 
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 3px;
    border-color: black;
}

h1 {
	color: #ffea00;
	font-size: 50px;
	font-family: 'BenchNine';
	text-align: center;

	margin-bottom: -50px;
	margin-top: 5px;
}

h2 {
	color: #ffd500;
	font-size: 50px;
	font-family: 'BenchNine';

	margin-bottom: -15px;
	margin-top: -5px;
}

#Welcome {
	background-color: #AFF100;	
}

#titleBox {
	border-style: inset;
	border-color: lime;
	border-width: 5px;
}

#secondText{
	background:url(img/kim.gif);
	background-repeat:space;
	
}

#firstText{
	background:url(img/exam.png); background-repeat:repeat;
}

#thirdText{
	background: linear-gradient(orange, yellow);
	margin-bottom:30px;
}

#fourthText{
	background:url(img/clean.jpeg);
	background-repeat:round;
	margin-bottom:30px;
}


.secondTitle {
	font-family: 'Bad Script';font-size: 40px;
	text-align: center;
}

.added {
	color: #032399;
	font-family: 'Aclonica'; font-size: 20px;

	margin-bottom: 5px;
	margin-top: 5px;
}

.googleSearch {
	color: #C023D0;
	font-family: 'BenchNine';font-size: 25px;

	margin-bottom: 5px;
	margin-top: 5px;
}

.emailSubject {
	font-family: 'Bigelow Rules';
	font-size: 35px;
	text-align: center;
	color: #A45C3F;
	
	border-color: white;
	border-width: 3px;
	border-style: dotted;

	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 50px;
}

.name {
	font-size: 30px;
	font-family:"Euclid Fraktur", "Old English Text MT", fantasy, serif;
	text-align: center;
	color: #AA0FF3;
	margin-bottom: -20px;
}

.year {
	font-family:"Bickley Script", cursive, serif;
	font-size: 30px;
	color: #AA0023;
	text-align: center;
}

.paragraph1 {
	font-size: 25px;
	font-family: 'Miniver';
	color: #E99FF3;
}

.paragraph2 {
	font-size: 27px;
	font-family: 'Crushed';
	color: maroon;
}

.paragraph3 {
	font-size: 25px;
	font-family: 'Barriecito';
	color: #29EBBA;
}

.Shopping {
	font-size: 30px;
	font-family: 'Nosifer';
	color: #AA00FF;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.newphoto {
	float:right;
}

.newphoto2 {
	float:left;
}

#firstParagraph {
	font-family: Jazz LET, fantasy;
	color: #1349FF;
	font-size: 20px;
	margin-bottom: -5px;
}

#secondParagraph {
	font-family: Trattatello, fantasy;
	color: #AA913F;
	font-size: 25px;
	margin-bottom: -5px;
}

#thirdParagraph {
	font-family: Jazz LET, fantasy;
	color: #CD208F;
	font-size: 20px;
	margin-bottom: -5px;

}

#fourthParagraph {
	font-family: Snell Roundhand, cursive;
	color: maroon;
	font-size: 25px;
	text-align: center;
	margin-bottom: -5px;
}

#LUSH {
	color: #977bb6;
	font-size: 80px;
	text-align: center;
	margin-bottom: -15px;
	margin-top:-15px;
	font-family: Bradley Hand, cursive;
}

#num1 {
	font-size:20px;
	color: #BBF0A9;
	font-family:"Arial", fantasy;
	font-style:italic;
}

#num2 {
	font-size:40px;
	text-align:center;
	font-family:"Euclid Fraktur", "Old English Text MT", fantasy, serif;
	color: #13ABDC;
}

#num3 {
	font-size:25px;
	color: #134880;
	font-family: 'Nosifer';

}

#num4 {
	font-size:25px;
	color: #FF00BB;
	font-family: 'Crushed';
}

#num5 {
	font-size:40px;
	color: #FFFAAA;
	font-family: 'BenchNine';
}

#num6 {
	font-size:30px;
	color: #B0D571;
	font-family: 'Miniver';
	text-align:center;
	margin-top:-25px;
	margin-bottom:-25px;
}

#num7 {
	font-size:40px;
	text-align:center;
	color: #A93BE1;
	font-family: 'Bad Script';font-size: 40px;
	margin-bottom:-15px;
}

#photo {
	border-color: black;
	border-style:double;
	border-width: 3px;
	width:200px;
	height:200px;
	margin-left: auto;
 	margin-right: auto;
}

#Welcome {
	text-align:center;
	background-color: #B0fC38;
	font-size: 50px;

	border-style:dashed;
	border-color:white;
	border-width:4px;
	margin-left:100px;
	margin-right:100px;
	margin-top:100px;
	margin-bottom:50px;
}

h6{
	margin-bottom: -10px;
	font-size:40px;
	font-style:oblique;
	color: darkgreen;
	font-family:"Euclid Fraktur", "Old English Text MT", fantasy, serif;
}

h7{
	font-size: 35px;
	color: pink;
	font-family: 'Crushed';
	font-style: bold;
}

body {
	background-image:url("img/giphy.gif"); background-repeat:repeat;
}

button {
	font-family: Nosifer;
	font-size: 25px;
	font-color: red;
	background-color: #b784a7;
	border-radius:40px;
}


.button {
  border: 4px solid red;
  width: 200px;
  text-align: right;
  ;

}

.button-inner {
  color: red;
  border: 4px solid black;
  padding: 16px;
  background-color: white;

}

.container > * {
    display: inline-block;
}
